<div class="default-page">
  <div class="header">
    <h1 id="main-title" class="container"><%= __('NAA Stock Importer') %></h1>
    <h3 class="container">You're looking at: <code><%= view.pathFromApp + '.' +view.ext %></code></h3>
  </div>
  <div class="main container clearfix">
    <form action="importer" enctype="multipart/form-data" method="post">
      <h2>Stock Listing Form</h2>
      <input name="stockFile" type="file">
      <input type="submit" value="Upload">
    </form>    
  </div>
</div>